In [3]:
import pandas as pd

df = pd.read_csv("/Users/lorenzo/PycharmProjects/Advanced-Simulation---Group-12 (1)/EPA133a-Lab/EPA133a-G12-A2/data/_roads3.csv")

df['chainage'] = df['chainage'].astype(float)

# Calculate total road length by subtracting the minimum chainage from the maximum chainage (for each roadd)
road_lengths = df.groupby('road')['chainage'].agg(lambda x: x.max() - x.min())

# new column "length"
df['length'] = df['road'].map(road_lengths)

# Filter the DataFrame to only include roads where the total length is greater than 25 km
filtered_df = df[df['length'] > 25]

# Save to a new CSV file
filtered_df.to_csv("filtered_roads_gt_25km.csv", index=False)

print(filtered_df)

        road  chainage      lrp        lat        lon  gap       type  \
0         N1     0.000     LRPS  23.706028  90.443333  NaN     Others
1         N1     0.814    LRPSa  23.702917  90.450417  NaN    Culvert
2         N1     0.822    LRPSb  23.702778  90.450472  NaN  CrossRoad
3         N1     1.000   LRP001  23.702139  90.451972  NaN     KmPost
4         N1     2.000   LRP002  23.697889  90.460583  NaN     KmPost
...      ...       ...      ...        ...        ...  ...        ...
51269  Z8913    23.000   LRP023  22.360750  90.832777  NaN     KmPost
51270  Z8913    23.088  LRP023a  22.361500  90.832833  NaN    Culvert
51271  Z8913    24.000   LRP024  22.368916  90.836639  NaN     KmPost
51272  Z8913    25.000   LRP025  22.377305  90.839972  NaN     KmPost
51273  Z8913    25.500  LRP025a  22.382083  90.841611  NaN     Others

                                                    name   length
0      Start of Road  after Jatrabari Flyover infront...  462.254
1                                            Box Culvert  462.254
2                                Intersection with Z1101  462.254
3                                        Km post missing  462.254
4                                        Km post missing  462.254
...                                                  ...      ...
51269                                    Km post missing   25.500
51270                                        Sluice gate   25.500
51271                                    Km post missing   25.500
51272                                    Km post Missing   25.500
51273                             Road Wash out by river   25.500

[33050 rows x 9 columns]

In [5]:
filtered_df["road"].value_counts()

road
N1       1339
N5       1217
N2        886
N7        533
N8        503
         ...
Z4011      37
Z7610      36
Z8040      34
R544       30
Z1124      22
Name: count, Length: 267, dtype: int64

In [6]:
filtered_df

,road,chainage,lrp,lat,lon,gap,type,name,length
0,N1,0.000,LRPS,23.706028,90.443333,NaN,Others,Start of Road after Jatrabari Flyover infront...,462.254
1,N1,0.814,LRPSa,23.702917,90.450417,NaN,Culvert,Box Culvert,462.254
2,N1,0.822,LRPSb,23.702778,90.450472,NaN,CrossRoad,Intersection with Z1101,462.254
3,N1,1.000,LRP001,23.702139,90.451972,NaN,KmPost,Km post missing,462.254
4,N1,2.000,LRP002,23.697889,90.460583,NaN,KmPost,Km post missing,462.254
...,...,...,...,...,...,...,...,...,...
51269,Z8913,23.000,LRP023,22.360750,90.832777,NaN,KmPost,Km post missing,25.500
51270,Z8913,23.088,LRP023a,22.361500,90.832833,NaN,Culvert,Sluice gate,25.500
51271,Z8913,24.000,LRP024,22.368916,90.836639,NaN,KmPost,Km post missing,25.500
51272,Z8913,25.000,LRP025,22.377305,90.839972,NaN,KmPost,Km post Missing,25.500
51273,Z8913,25.500,LRP025a,22.382083,90.841611,NaN,Others,Road Wash out by river,25.500

In [7]:
road_list = filtered_df["road"].unique()

In [8]:
filtered_df["road"].unique()

array(['N1', 'N102', 'N104', 'N105', 'N106', 'N2', 'N204', 'N207', 'N208',
       'N3', 'N4', 'N401', 'N402', 'N5', 'N502', 'N506', 'N507', 'N509',
       'N6', 'N7', 'N702', 'N704', 'N706', 'N709', 'N8', 'N804', 'N805',
       'N806', 'N809', 'R114', 'R140', 'R141', 'R142', 'R151', 'R152',
       'R160', 'R161', 'R162', 'R163', 'R170', 'R203', 'R211', 'R220',
       'R240', 'R241', 'R250', 'R280', 'R281', 'R301', 'R310', 'R312',
       'R313', 'R314', 'R315', 'R360', 'R370', 'R371', 'R460', 'R504',
       'R506', 'R544', 'R545', 'R547', 'R548', 'R550', 'R556', 'R560',
       'R585', 'R601', 'R603', 'R604', 'R605', 'R685', 'R710', 'R720',
       'R745', 'R747', 'R748', 'R749', 'R755', 'R760', 'R765', 'R770',
       'R771', 'R812', 'R820', 'R850', 'R860', 'R870', 'R880', 'R881',
       'R890', 'Z1004', 'Z1005', 'Z1031', 'Z1033', 'Z1034', 'Z1041',
       'Z1042', 'Z1044', 'Z1048', 'Z1065', 'Z1069', 'Z1084', 'Z1098',
       'Z1124', 'Z1206', 'Z1221', 'Z1401', 'Z1402', 'Z1405', 'Z1407',
       'Z1412', 'Z1422', 'Z1424', 'Z1429', 'Z1430', 'Z1439', 'Z1441',
       'Z1508', 'Z1510', 'Z1603', 'Z1608', 'Z1610', 'Z1612', 'Z1811',
       'Z1812', 'Z1813', 'Z2002', 'Z2003', 'Z2013', 'Z2044', 'Z2801',
       'Z2802', 'Z2807', 'Z2834', 'Z3024', 'Z3025', 'Z3030', 'Z3032',
       'Z3033', 'Z3037', 'Z3601', 'Z3602', 'Z3603', 'Z3701', 'Z3704',
       'Z3706', 'Z3707', 'Z3709', 'Z3710', 'Z3711', 'Z4011', 'Z4018',
       'Z4021', 'Z4022', 'Z4101', 'Z4606', 'Z4607', 'Z4615', 'Z4801',
       'Z5001', 'Z5002', 'Z5003', 'Z5006', 'Z5008', 'Z5010', 'Z5015',
       'Z5018', 'Z5021', 'Z5025', 'Z5035', 'Z5039', 'Z5046', 'Z5049',
       'Z5061', 'Z5072', 'Z5075', 'Z5202', 'Z5207', 'Z5209', 'Z5210',
       'Z5211', 'Z5401', 'Z5452', 'Z5456', 'Z5509', 'Z5552', 'Z5554',
       'Z5613', 'Z5621', 'Z5622', 'Z5624', 'Z5703', 'Z5706', 'Z5855',
       'Z5856', 'Z6004', 'Z6006', 'Z6021', 'Z6031', 'Z6802', 'Z6805',
       'Z6806', 'Z6809', 'Z6813', 'Z6852', 'Z6855', 'Z6856', 'Z7001',
       'Z7004', 'Z7008', 'Z7012', 'Z7021', 'Z7023', 'Z7024', 'Z7030',
       'Z7040', 'Z7043', 'Z7057', 'Z7102', 'Z7106', 'Z7108', 'Z7404',
       'Z7405', 'Z7461', 'Z7489', 'Z7502', 'Z7506', 'Z7553', 'Z7602',
       'Z7603', 'Z7604', 'Z7606', 'Z7610', 'Z7615', 'Z7617', 'Z7618',
       'Z7701', 'Z7702', 'Z7704', 'Z7707', 'Z7710', 'Z7717', 'Z8011',
       'Z8012', 'Z8031', 'Z8032', 'Z8033', 'Z8034', 'Z8037', 'Z8040',
       'Z8043', 'Z8044', 'Z8052', 'Z8056', 'Z8065', 'Z8121', 'Z8402',
       'Z8603', 'Z8701', 'Z8708', 'Z8806', 'Z8810', 'Z8814', 'Z8910',
       'Z8913'], dtype=object)

In [9]:
road_list

array(['N1', 'N102', 'N104', 'N105', 'N106', 'N2', 'N204', 'N207', 'N208',
       'N3', 'N4', 'N401', 'N402', 'N5', 'N502', 'N506', 'N507', 'N509',
       'N6', 'N7', 'N702', 'N704', 'N706', 'N709', 'N8', 'N804', 'N805',
       'N806', 'N809', 'R114', 'R140', 'R141', 'R142', 'R151', 'R152',
       'R160', 'R161', 'R162', 'R163', 'R170', 'R203', 'R211', 'R220',
       'R240', 'R241', 'R250', 'R280', 'R281', 'R301', 'R310', 'R312',
       'R313', 'R314', 'R315', 'R360', 'R370', 'R371', 'R460', 'R504',
       'R506', 'R544', 'R545', 'R547', 'R548', 'R550', 'R556', 'R560',
       'R585', 'R601', 'R603', 'R604', 'R605', 'R685', 'R710', 'R720',
       'R745', 'R747', 'R748', 'R749', 'R755', 'R760', 'R765', 'R770',
       'R771', 'R812', 'R820', 'R850', 'R860', 'R870', 'R880', 'R881',
       'R890', 'Z1004', 'Z1005', 'Z1031', 'Z1033', 'Z1034', 'Z1041',
       'Z1042', 'Z1044', 'Z1048', 'Z1065', 'Z1069', 'Z1084', 'Z1098',
       'Z1124', 'Z1206', 'Z1221', 'Z1401', 'Z1402', 'Z1405', 'Z1407',
       'Z1412', 'Z1422', 'Z1424', 'Z1429', 'Z1430', 'Z1439', 'Z1441',
       'Z1508', 'Z1510', 'Z1603', 'Z1608', 'Z1610', 'Z1612', 'Z1811',
       'Z1812', 'Z1813', 'Z2002', 'Z2003', 'Z2013', 'Z2044', 'Z2801',
       'Z2802', 'Z2807', 'Z2834', 'Z3024', 'Z3025', 'Z3030', 'Z3032',
       'Z3033', 'Z3037', 'Z3601', 'Z3602', 'Z3603', 'Z3701', 'Z3704',
       'Z3706', 'Z3707', 'Z3709', 'Z3710', 'Z3711', 'Z4011', 'Z4018',
       'Z4021', 'Z4022', 'Z4101', 'Z4606', 'Z4607', 'Z4615', 'Z4801',
       'Z5001', 'Z5002', 'Z5003', 'Z5006', 'Z5008', 'Z5010', 'Z5015',
       'Z5018', 'Z5021', 'Z5025', 'Z5035', 'Z5039', 'Z5046', 'Z5049',
       'Z5061', 'Z5072', 'Z5075', 'Z5202', 'Z5207', 'Z5209', 'Z5210',
       'Z5211', 'Z5401', 'Z5452', 'Z5456', 'Z5509', 'Z5552', 'Z5554',
       'Z5613', 'Z5621', 'Z5622', 'Z5624', 'Z5703', 'Z5706', 'Z5855',
       'Z5856', 'Z6004', 'Z6006', 'Z6021', 'Z6031', 'Z6802', 'Z6805',
       'Z6806', 'Z6809', 'Z6813', 'Z6852', 'Z6855', 'Z6856', 'Z7001',
       'Z7004', 'Z7008', 'Z7012', 'Z7021', 'Z7023', 'Z7024', 'Z7030',
       'Z7040', 'Z7043', 'Z7057', 'Z7102', 'Z7106', 'Z7108', 'Z7404',
       'Z7405', 'Z7461', 'Z7489', 'Z7502', 'Z7506', 'Z7553', 'Z7602',
       'Z7603', 'Z7604', 'Z7606', 'Z7610', 'Z7615', 'Z7617', 'Z7618',
       'Z7701', 'Z7702', 'Z7704', 'Z7707', 'Z7710', 'Z7717', 'Z8011',
       'Z8012', 'Z8031', 'Z8032', 'Z8033', 'Z8034', 'Z8037', 'Z8040',
       'Z8043', 'Z8044', 'Z8052', 'Z8056', 'Z8065', 'Z8121', 'Z8402',
       'Z8603', 'Z8701', 'Z8708', 'Z8806', 'Z8810', 'Z8814', 'Z8910',
       'Z8913'], dtype=object)

In [11]:
selected_roads = [r for r in road_list if ("N1" in r) or ("N2" in r)]
selected_roads

['N1', 'N102', 'N104', 'N105', 'N106', 'N2', 'N204', 'N207', 'N208']